[submodule "zprezto"]
	path = zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "janus/elm"]
	path = janus/elm
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "janus/flash"]
	path = janus/flash
	url = git@github.com:endel/flashdevelop.vim.git
